.about-header {
    text-align: center;
    font-family: Monserrat-Bold;
    font-weight: bold;
    padding: 20px;

}

.about-content {
    padding: 30px 15px;

    h2 {
        font-weight: bold;
        font-family: Monserrat-Semibold;
    }
}