footer {
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    margin-top: 50px;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
    
    .footer-section__info {
        font-size: 14px;
        width: 40%;
        padding: 20px;

        p {
            a {
                color: $info;
                font-size: 18px;
                font-weight: bold;

                &:hover {
                    color: #212529;
                }
            }
        }
    }
    
    .footer-section__about, .footer-section__social, .footer-section__help {
        width: 15%;
        
        h3 {
            font-family: Monserrat-Semibold;
            font-size: 24px;
        }

        ul {
            list-style-type: none;

            li {
                a {
                    color: $info;
    
                    &:hover {
                        color: #212529;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}