.main-content {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    height: 100%;

    .main-aside {
        border: 1px solid blue;
    }
    
    .main-conversations {
        border: 1px solid green;
        
    }
    
    .main-header {
        border: 1px solid purple;

    }
}