.main-content {
    display: flex;
    justify-content: space-between;
    height: 100%;

    .main-aside {
    
        .main-aside--header {
            background-color: $secondary;
            width: 100%;
            padding: 10px;
            text-align: center;
            color: #fff;
            font-family: Monserrat-Semibold;
        }

        .main-aside--content {
            height: 100vh;
            border: 1px solid red;
        }
    }
    
    .main-conversations {
        border: 1px solid green;
        
    }
    
    .main-header {
        border: 1px solid purple;

    }
}