.main-content {
    display: flex;
    width: 100%;
    height: 100%;

    .main-aside {
        background-color: $secondary;
        width: 30%;
    
        .main-aside--header {
            width: 100%;
            padding: 10px;
            text-align: center;
            color: #fff;
            font-family: Monserrat-Semibold;
        }
    }
    
    .main-conversations {
        border: 1px solid green;
        width: 70%;
        display: flex;

        .main-pendient {
            border: 1px solid red;
            width: 80%;
        }

        .main-user-edit {
            padding: 10px;
            text-align: center;

            p {
                background-color: $secondary;
                color: #fff;
                padding: 10px 20px;
                border-radius: 20px;
                
                a {
                    text-decoration: none;
                    
                    &:hover {
                        color: #fff;
                        background-color: $primary;
                        padding: 5px;
                        border-radius: 4px;
                    }
                }
            }
        }
        
    }
}