.login-container {
    margin: 20px 25%;
    background-color: $primary;
    padding: 10px 50px;
    color: #fff;
    border-radius: 15px;

    header {
        font-weight: bold;
        font-family: Monserrat-Semibold;
    }
    
    hr {
        border: 1px solid $secondary;
    }

    form {
        font-weight: bold;

    }
    
    .register-link {
        
        a {
            color: $secondary;
        }
    }
}