.navbar-custom-content {
    background-color: $primary;
    padding: 15px 30px;

    a {
        color: #fff;
        font-size: 20px;
        margin: 0 10px;
    }
}

.navbar-link-custom {

    &:hover {
        border-bottom: 2px solid #000;
        color: #000;
        transition: border .1000ms ease;//transision
    }
}

.navbar-link-login {
    color: $secondary;
    background-color: $primary;
    border: 1px solid $secondary;
    border-radius: 4px;
    
    &:hover {
        background-color: $secondary;
        color: #fff;
        cursor: pointer;
    }
}